<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form action="/login" method="POST" id="login-form">
        <div>
            <h3>Login</h3>
        </div>
        <% if (errors.type === 'success') { %>
            <div class="errors success"><%=errors.message%></div>
        <% } else { %>
            <div class="errors err"><%=errors.message%></div>
        <% } %>
        <fieldset>
            <label for="username">Username</label>
            <input type="text" required autofocus autocomplete="off" name="username" id="username">
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input type="password" required autofocus name="password" id="password">
        </fieldset>
        <fieldset>
            <a href="/password-reset" id="reset-pass">Forgot password?</a>
            <input type="submit" value="submit">
        </fieldset>
    </form>
</body>
</html>