<span>Residents</span>
<div>
    <a href="/residents"><i class="fa fa-plus"></i> Add new</a>
    <a href="/residents/search"><i class="fa fa-search"></i> Search</a>
    <a href="/residents/all"><i class="fa fa-eye"></i> View all</a>
    <a href="/residents/period"><i class="fa fa-bar-chart"></i>View by period</a>
    <a href="/residents/per-room"><i class="fa fa-cube"></i>View by room</a>
    <a href="/residents/per-hostel"><i class="fa fa-building"></i>View by hostel</a>
</div>
<span>Hostels</span>
<div>
    <a href="/hostels"><i class="fa fa-plus"></i> Add new</a>
    <a href="/hostels/search"><i class="fa fa-search"></i> Search</a>
    <a href="/hostels/all"><i class="fa fa-eye"></i> View all</a>
    <a href="/hostels/rooms"><i class="fa fa-plus"></i> Add room</a>
    <a href="/hostels/rooms/search"><i class="fa fa-search"></i> Search room</a>
    <a href="/hostels/rooms/all"><i class="fa fa-eye"></i> All rooms</a>
</div>
<span>Booking</span>
<div>
    <a href="/booking"><i class="fa fa-plus"></i> Add new</a>
    <a href="/booking/search"><i class="fa fa-search"></i> Search</a>
    <a href="/booking/all"><i class="fa fa-eye"></i> View all</a>
    <a href="/booking/per-period"><i class="fa fa-bar-chart"></i> Search by period</a>
    <a href="/booking/balance"><i class="fa fa-dollar"></i> View balances</a>
</div>
<span>Users</span>
<div>
    <a href="/users"><i class="fa fa-plus"></i> Add new</a>
    <a href="/users/search"><i class="fa fa-search"></i> Search</a>
    <a href="/users/all"><i class="fa fa-eye"></i> View all</a>
</div>